---
layout: default
---

<div class="home">
  <a class="site-title" rel="author" href="{{ "/images" | relative_url }}">
    {%- if site.title-logo -%}
    {%- assign mainPage = "/Coding-section/assets/images/coding-pic5.jpg" -%}
    <img src="{{ mainPage |relative_url }}" alt="{{ site.title | escape }}" class="blog-top-image"/>
    {%- else -%}
    {{site.title | escape }}
    {%- endif -%}
  </a>
  <!-- {%- if page.image -%}
  <img src="{{- page.image | relative_url -}}" alt="" class="featureHome-image-post" />
{%- else -%}
  {%- assign postImage = "/Coding-section/assets/images/coding-pic3.jpg" -%}
  <img src="{{- postImage | relative_url -}}" alt="" class="featureHome-image-post" />
{%- endif -%} -->



  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
        {%- if post.category=="Coding" -%}
          <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
              <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
              </a>
            </h3>
            {%- if site.show_excerpts -%}
              {{ post.excerpt }}
            {%- endif -%}
               <!-- add blog-roll image here -->
               {%- if post.image -%}
               <img src="{{- post.image | relative_url -}}" alt=""class="blog-roll-image"/>
              {%- else -%}
                {%- assign postImage = "/images/dev-tool-pic.jpg" -%}
                <img src="{{- postImage | relative_url -}}" alt=""class="blog-roll-image"/>
    
              {%- endif -%}
            <!-- to here -->
          </li>
        {%- endif -%}
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/Coding-section/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}

</div>
